.about {
    margin-top: 0;
    padding-top: 0;
}
.about-wrapper {
    background-color: #082B5F;
    justify-content: space-around;
    padding: 0px;
    display: flex;
}

.about-square {
    background-color: transparent;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow:  0 0 5px 5px #0000;
    min-width: 20%;
}

.about-column {
    margin: 10px;
    padding: 20px;
    align-self: stretch;
    width: 30%;
    height: 300px; /* Set a fixed height or a percentage */
    position: relative; /* Allows control over inner elements */
    overflow: hidden;
    min-height: 200px;
}

.heading-games {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.heading-games.heading-champs {
    letter-spacing: 1px;
    line-height: 1.4;
}

.years2, .years {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: #d9d9d9;
    font-size: 18px;
}

.left-line, .right-line {
    margin-bottom: 40px;
}
.Trophy {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: filter 0.3s;
}
.Trophy:hover{
    filter: brightness(0.8);
    cursor: pointer;
}