<<<<<<< HEAD
/* Navbar base styles */
.navbar {
    z-index: 2;
    color: #d9d9d9;
    padding: 15px;
    position: relative;
    background: linear-gradient(#1056bf,#082B5F);
=======
.navbar {
    z-index: 2;
    color: #d9d9d9;
    padding: 20px 3%;
    position: relative;
    background: linear-gradient(#072653, #1056bf);

>>>>>>> 5626796 (new commit)
}

.navigation-left,
.navigation-right {
    display: flex;
    align-items: center;
    width: 50%;
}

.navigation-right {
    justify-content: flex-end;
}
<<<<<<< HEAD
.fa-caret-down{
    padding-right: 0;
    padding-left: 10px;
    margin: 0;
}
/* Nav link and caret icon */
=======
>>>>>>> 5626796 (new commit)
.nav-link {
    display: flex;
    align-items: center;
    color: #d9d9d9;
    padding: 10px;
<<<<<<< HEAD
    margin:0;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    transition: font-size 0.5ms;
}
.nav-link:hover {
    color: #fff;
    font-size: 15.5px;
}
.nav-link.w-nav-link {
    width: 100%;
    white-space: nowrap;
}

/* Ensure the dropdown becomes visible when hovering */
.nav-link:hover + .dropdown-menu {
    display: block; /* Make dropdown visible */
}

/* Navigation menu */
=======
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.nav-link:hover {
    font-weight: 600;
}

>>>>>>> 5626796 (new commit)
.nav-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
<<<<<<< HEAD
    position: relative; /* Relative to control dropdown positioning */
=======
>>>>>>> 5626796 (new commit)
}

.container-navigation {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu-button {
    cursor: pointer;
}
<<<<<<< HEAD

/* Dropdown menu styles */
.dropdown-menu {
    position: absolute;
    left: 0; /* Align dropdown to the left of the .nav-link */
    top: 85%; /* Position it directly below the .nav-link */
    margin-top: 0.5rem; /* Optional: Add space between the link and the dropdown */
    display: none; /* Initially hidden */
    list-style-type: none;
    padding: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: 4px;
}

/* Dropdown item styles */
.dropdown-menu li {
    display: block;
}

.dropdown-item {
    padding: 10px 20px;
    color: #082a5c;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-item:hover {
    color: #082a5c;
    background-color: rgba(217, 217, 217, 0.67);
}


/* Ensure dropdown links are styled properly */
.dropdown-menu li a {
    color: #082a5c;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease, font-weight 0.2s ease, color 0.3s ease;
}

/* Ensure dropdown is hidden by default */
.dropdown-menu {
    display: none;
}

/* Show dropdown when the 'show' class is applied */
.dropdown-menu.show {
    display: block;
}


.navigation-button-wrap {
    padding-bottom: 5px;
    margin: 0;
}
=======
>>>>>>> 5626796 (new commit)
