.navbar {
    z-index: 2;
    color: #d9d9d9;
    padding: 20px 3%;
    position: relative;
    background: linear-gradient(#072653, #1056bf);

}

.navigation-left,
.navigation-right {
    display: flex;
    align-items: center;
    width: 50%;
}

.navigation-right {
    justify-content: flex-end;
}
.nav-link {
    display: flex;
    align-items: center;
    color: #d9d9d9;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.nav-link:hover {
    font-weight: 600;
}

.nav-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.container-navigation {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu-button {
    cursor: pointer;
}
