.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 30px 30px;
}

.single_player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9d9d938;
    transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
    align-items: center;
}

.single_player.playerInfo:hover {
    transform: scale(1.03);

  /*  box-shadow: 0 1px 1px 1px #d9d9d9;*/
}

.single_player.playerInfo {
    background-color: transparent;
    box-shadow: 0 0 0 0 #d9d9d9;
    gap: 0;
}

.h3.cc-pos-heading.player_box {
    font-size: 1rem;
}
.player-wrap-w{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0;
}
.Page {
    height: 300px;
    margin-bottom: 0;
    padding-top: 5%;
}